for PDF
pip install PyMuPDF

for UI  visit
https://bootswatch.com/

for Import export
pip install django-import-export

to Loan model
pip install smart_open

for graphs
pip install plotly

for data
pip install pandas spicy numpy

for Django
pip install Django



