{% extends "base.html" %}
{% block title %}Book Trends{% endblock %}
{% block content %}
<style>
    .contact-info {
        margin-bottom: 20px;
    }
    .social-links a {
        margin-right: 10px;
        font-size: 1.5rem;
    }
    .domain-list {
        list-style-type: none;
        padding-left: 0;
    }
    .domain-list li {
        margin-bottom: 10px;
    }
</style>
<div class="card">
    <div class="card-header">
        <div class="card-body">
                <p>Welcome to our platform, designed to empower data scientists and professionals across various fields. Our mission is to provide tools and resources to help you achieve your research and project management goals with ease and efficiency.</p>               
                <h2> Domains</h2>
                <div class="list-group">
                    <div class="list-group-item"><strong>Educational Research:</strong> Enabling educators and researchers to analyze and interpret educational data effectively.</div>
                    <div class="list-group-item"><strong>Operational Research:</strong> Providing solutions for optimizing complex systems and decision-making processes.</div>
                    <div class="list-group-item"><strong>Information Systems:</strong> Supporting the development and management of robust information systems.</div>
                    <div class="list-group-item"><strong>Project Management:</strong> Offering tools for planning, executing, and monitoring projects efficiently.</div>
                    <div class="list-group-item"><strong>Statistics:</strong> Helping statisticians to perform sophisticated data analyses and visualizations.</div>
                    <div class="list-group-item"><strong>Healthcare and Medicine:</strong> Facilitating research and data analysis in medical and healthcare sectors.</div>
                    <div class="list-group-item"><strong>Finance and Economics:</strong> Providing insights and tools for financial and economic data analysis.</div>
                </div>
                <h2>Contact Us</h2>
                <div class="contact-info">
                    <p><strong>WhatsApp:</strong></p>
                    <ul>
                        <li>+255675839840</li>
                        <li>+255656848274</li>
                    </ul>
                    <p><strong>Telegram:</strong></p>
                    <ul>
                        <li>+255656848274</li>
                        <li>+255738144353</li>
                    </ul>
                    <p><strong>Email:</strong> <a href="mailto:support@example.com">support@example.com</a></p>
                </div>
        
                <h2>Follow Us</h2>
                <div class="social-links">
                    <a href="https://www.youtube.com/channel/UCjepDdFYKzVHFiOhsiVVffQ" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a href="https://play.google.com/store/apps/dev?id=7334720987169992827&hl=en_US&pli=1" target="_blank"><i class="fab fa-google-play"></i></a>
                    <a href="https://github.com/shamiraty/" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>








        </div>
    </div>
</div>

{% endblock %}
{% block js %}
{% endblock %}
